<header>

    <h1>{{title}}</h1>
    <h1>{{role}}</h1>
    <h1>{{menu}}</h1>

    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='/help'>Help</a>
    
    <p>{{summary}}</p>
    <p>{{type}}</p>
    <p>{{errorMessage}}</p>

</header>